<configuration>
    <!-- Appender for console output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log to console -->
    <root level="TRACE">
        <appender-ref ref="console" />
    </root>
</configuration>
